__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env
app.db
*.sqlite3
*.db
instance/
pgdata/
redisdata/
.vscode/
wheels/
build/
dist/
*.egg-info/
*.log
.DS_Store
alembic/versions/*  # If not committing migrations